*{
	margin: 0px;
	padding:0px;	
}
.logo {
	color:grey;
}
span{
	color:#ea4748;

}
.uno{
	margin-left: -3%;
}
.dos{
	margin-left: -8%;
	display: inline-block;
}
.tres{
	margin-left: -3%;
	}


.form-control{
	margin-left: 100%;
}
.navbar-default{
	background-color:white;
	border-bottom:#ea4748 1px solid;
	border-top:white;
}
.rojo{
	height: 7%;
	width: 15%;
	background-color:#ea4748;
	position: absolute;
	z-index: 3;
}	
a:link, a:visited{  
color:white; 
}
a{ 
color:white;
}
p{
	margin-top: 2%;
}
img{
	width: 100%;
}																					// }																																																																																																																							